* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  font-family: poppins, arial, helvetica neue, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.gradient {
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right top,
    rgb(252, 44, 119) 0%,
    rgb(108, 64, 121) 100%
  );

  width: 100%;
  height: auto;

  background-origin: padding-box;
  background-clip: border-box;
}

label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}
section.card-registration {
  border-color: black;
  border-radius: 0.5rem;

  width: 20rem;
  height: 100%;
  background-color: white;
  padding: 2rem;
}

.button-default {
  background-color: #4272d7;
  border-radius: 0.3rem;
  border-color: none;
  border: none;

  padding: 0.5rem;
  cursor: pointer;

  color: white;
}

.card-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.radio-container {
  cursor: pointer;
}
