* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  font-family: poppins, arial, helvetica neue, sans-serif;
}

main.gradient {
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right top,
    rgb(252, 44, 119) 0%,
    rgb(108, 64, 121) 100%
  );

  background-size: 100%;
  background-origin: padding-box;
  background-clip: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}
section.card {
  border-color: black;
  border-width: 1rem;

  width: 20rem;
  height: 100%;
  background-color: white;
}
