* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: poppins, arial, helvetica neue, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  list-style: none;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main.gradient {
  background: linear-gradient(to top right, #ff9933 0%, #fc4c02 100%);
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, #ff9933 0%, #fc4c02 100%);

  width: 100%;
  height: auto;

  background-origin: padding-box;
  background-clip: border-box;
}
main.root-content {
  justify-content: flex-start;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  padding: 0;
  top: -1px;
  left: -1px;
  right: -1px;
}

h1 {
  font-weight: 750;
  margin-bottom: 1.6rem;
}

h2 {
  font-weight: 750;
  justify-content: center;
  margin-bottom: 0.9rem;
}

.font-size-vmax {
  font-size: 2.2vmax;
}

p {
  margin-bottom: 0.9rem;
  font-size: 1rem;
}

.text-align-center {
  text-align: center;
}

label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

button {
  background-color: #ff9933;
  border-radius: 0.3rem;
  border: none;

  cursor: pointer;

  color: white;
  font-weight: 500;
  font-size: 1.1rem;

  padding: 0.7rem;
  margin-block: 0.2rem;
  width: 6.6rem;
}

button.register-now {
  background-color: white;
  color: black;
  width: 7rem;
}

button.login {
  width: 104.5%;
  margin-block: 1.1rem;
  padding: 0.3rem;
}

form.login {
  width: 100%;
  height: 100%;
}

input {
  line-height: 1.8rem;
  background: #fafafa;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.4rem;
  color: #666;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 0.6rem 0 0.5rem 0.8rem;
  min-width: 1rem;
  color: #666666;
  display: flex;
  align-items: center;
}

.input-icons input[type="text"] {
  padding-left: 2.3rem;
}

input[type="text"] {
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #e5e5e5;
  /* Not removed via appearance */
  outline: none;
  place-content: center;
  border: none;
}

input[type="radio"] {
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #e5e5e5;
  /* Not removed via appearance */
  border: 0.3rem solid #e5e5e5;

  outline: none;
  border-radius: 0.8rem;
  place-content: center;
  margin-right: 0.7rem;
}

input[type="radio"]:checked {
  background-color: #57b846;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: 100%;
}
.card-item-slider img {
  width: auto;
  min-width: 100%;
  border-radius: 0.4rem;
}

section.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding: 0;
  width: 100%;
}

section.card {
  border-radius: 0.5rem;
  border: none;

  display: flex;
  height: 100%;

  padding: 2rem;
  background-color: white;
}

section.sidebar {
  width: 30%;
}

section.sidebar a:link {
  text-decoration: none;
  color: black;
}
section.sidebar a:visited {
  text-decoration: none;
  color: black;
}
section.sidebar a:hover {
  text-decoration: none;
  color: black;
}
section.sidebar a:active {
  text-decoration: none;
  color: black;
}

section.card-container {
  width: 65%;
}

section.index {
  width: 85%;
  align-items: center;

  margin-block: 1rem;

  padding: 0;
}

section.login {
  width: 33.4rem;
}

section.registration {
  width: 27.4rem;
}

.box-login {
  border-radius: 1.4rem;
  margin-bottom: 0.4rem;
}

.flex-box-column {
  flex-direction: column;
}
.card-item-container {
  display: flex;
}

.card-item-container-index-top {
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.card-item-container-index-services {
  color: #fc4c02;
  width: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(white 65%, #eee8e2 35%);
  align-items: center;
  margin-bottom: 1rem;
}
.card-item-container-index-services > * {
  width: 85%;
}

.card-item-container-registration {
  justify-content: space-between;
  width: 100%;
}

.card-item-container-login-left {
  width: 40%;
  height: 100%;
}
.card-item-container-login-right {
  justify-content: space-around;
  align-items: center;
  width: 55%;
  margin-inline: 2.1rem;
}

.card-item {
  width: 100%;
  display: flex;
}

.card-item-icon-container {
}
.card-item-icon {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.card-item-slider {
  width: 58%;
  height: 58%;
}

.card-item-latest-news {
  width: 30%;
  padding-inline: 1rem;
  padding-block: 4rem;
  justify-content: space-around;
  align-items: center;
}

.card-item-register-now {
  width: 75%;
  justify-content: space-around;
  align-items: center;
  padding-block: 2.5rem;
  color: white;
}

.card-item-registration {
  width: 46.2%;
  padding-block: 0.5rem;
}

.radio-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.radio-item {
  cursor: pointer;
  display: flex;
  margin-right: 1.9rem;
}
.navbar-tooltip {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.navbar-brand {
  margin: 0.5rem 1rem 0.1rem 1rem;
}
ul.sidebar-menu {
  display: flex;
  position: relative;
}
ul.sidebar-menu > * {
  line-height: 1.5rem;
}

ul.sidebar-menu li::before {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  left: -0.8rem;
  top: 50%;
  margin-top: -0.2rem;
  content: "";
  background: #da624a;
  border-radius: 2rem;
}
/* ul.sidebar-menu a::after {
  box-sizing: border-box;
} */
ul.navbar-nav {
  display: flex;
  position: relative;
  float: right;
  background-color: #ff9933;
}
ul.navbar-nav > * {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
ul.register-now {
  margin-bottom: 0.6rem;
}
ul.register-now > * {
  margin-bottom: 0.6rem;
  font-size: 2.1vmax;
  font-weight: 300;
}
.fillerline {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 0.6rem;
  background-color: #ff9933;
  display: flex;
  flex-wrap: wrap;
}

.background-color-white {
  background-color: white;
}

.backgrouind-color-light-yellow {
  background-color: #fbf9d7;
}

.border-default {
  border: #ff9933 solid 0.3rem;
}
.border-radius-default {
  border-radius: 0.8rem;
}

.background-image-register-now {
  background-image: url(./images/toolbar-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.margin-bottom-index {
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .card-item-latest-news > * {
    font-size: 0.7rem;
  }
  .card-item-register-now > * {
    font-size: 0.9rem;
  }

  .card-item-slider {
    width: 50%;
    height: 12.4rem;
  }

  .card-item-container-index-services > * {
    font-size: 0.9rem;
    width: 75%;
  }
  .card-item-icon img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .card-item-icon p {
    font-size: 0.6rem;
  }
  .card-item-latest-news {
    width: 35%;
    padding-inline: 0.5rem;
    padding-block: 1rem;
    justify-content: space-around;
  }
}
